*.iml
.gradle
/local.properties
.DS_Store
strongswan-android-complete/build/**
openvpn/build/**
/captures
.externalNativeBuild
openvpn/src/main/cpp/asio/asio/src/doc/
openvpn/.cxx/
pmcrypto/build/


.idea
build
.cxx

*.dex
*.log

local.properties
keystore.properties
*.jks