<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpn.prime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.PrimeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/PrimeAppTheme"
        tools:replace="android:supportsRtl,android:allowBackup">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="org.strongswan.android.logic.VpnStateService"
            android:exported="false" />

        <service
            android:name="com.protonvpn.android.vpn.ikev2.ProtonCharonVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.protonvpn.android.vpn.openvpn.OpenVPNWrapperService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.protonvpn.android.components.QuickTileService"
            android:icon="@drawable/prime_ic_quick_tile"
            android:label="Quick connect"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.protonvpn.android.components.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--Prime Activities - move to another manifest with flavors-->
        <activity
            android:name="com.prime.ui.SplashActivity"
            android:noHistory="true"
            android:theme="@style/WelcomeSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.prime.ui.PrimeMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/PrimeAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.prime.features.iap.presentation.onboarding.PrimeOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomePrimeTheme" />

        <activity
            android:name="com.prime.features.iap.presentation.PrimeIapActivity"
            android:label="Premium Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomePrimeTheme"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>